.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-coulmn{
  display:grid;
  flex-direction: column;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.bg-items{

  background-color:#dcfce7;
  height:auto;
}
.img{
  width:100%;
  max-width:600px;
}
.max-width{
  width:100%;
  max-width:1400px;
}
.bg-sidebar{
background-color:#e9d5ff
;
}
.margin-l{
  margin-left:3.5rem;
}
.margin-b{
  margin-bottom:1rem;
}
.text-color{
  color: rgb(76 29 149);
}
